{% extends 'base.html.twig' %}

{% block title %}Nouvel équipement{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter un équipement</h1>

        {{ include('equipment/_form.html.twig') }}

        <a href="{{ path('equipment_index') }}" class="btn btn-light">Retour à la liste</a>

    </div>
{% endblock %}
