{% extends 'base.html.twig' %}

{% block title %}Modifier un véhicule{% endblock %}

{% block body %}
    <div class="container">

        <h1>Modifier un véhicule</h1>

        {{ include('vehicle/_form.html.twig', {'button_label': 'Valider'}) }}

        <a href="{{ path('vehicle_index') }}" class="btn btn-light">Retour à la liste</a>

    </div>
{% endblock %}
